<configuration>
    <appSettings>
        <add key="OBPDevKey" value="0yao55bdkuhka0g0ocxpsklwshfx5bh2jd3rqdbz" />
        <add key="OBPDevSecret" value="qfwzyqdhmm4xz1zmqobfboa4sofnxhkoydgjsbjs" />
        <add key="FlightCakeColor" value="FFB0F6" />
        <add key="FuelCakeColor" value="E894B4" />
        <add key="HouseholdCakeColor" value="D794E8" />
    </appSettings>
</configuration>